includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    phpVersion: 80200
    treatPhpDocTypesAsCertain: false
    ignoreErrors: []
